p{
    font-family: Arial;
    font-size: 22px;
    line-height: 2;
}

h2{
    font-family: Georgia;
    font-size: 100px;
    text-align: center;
   
}

span{
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
}