/* Sets the grid of the application
1.try to change the width to % once the tutorial is completed
2.Try to remove the poistion relative property and check once the tutorial is completed
*/
.grid
{
    background-color: peachpuff;
    width:400px;
    height:600px;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.doodler
{
    background-color: red;
    width:60px;
    height:60px;
    position: absolute;
    border-radius: 30px;
}

.platform
{
    background-color: blue;
    width:80px;
    height:10px;
    position: absolute;
}

.gameOver
{
    color: rgba(133, 14, 14, 0.932);
    position: absolute;
    left:15%;
    top:40%;
    text-align: center;
}
.score
{
    color: rgba(133, 14, 14, 0.932);
    position: absolute;
    left:30%;
    top:50%;
    text-align: center;
}
.startButton
{
    background-color: rgb(233, 16, 27);
    width:100px;
    height:40px;
    top:50%;
    left:35%;
    color: white;
    position: absolute;
    padding-top: 10px;
    border-radius: 5%;
    
}   
.startButton:hover{
    cursor: pointer;
}